<form class="container" [formGroup]="loginForm">
    <h4>Login</h4>
    <input type="email" [formControl]="email" />
    <h5 class="red-text" [hidden]="email.valid || email.untouched">Enter Correct email</h5>
    <input type="password" [formControl]="password" />
    <h5 
    class="red-text" 
    [hidden]="password.valid || password.untouched">Password is required and must be > 6 digits</h5>
    <button class="btn green" [disabled]="loginForm.invalid" (click)="login()">Login</button>
    <button class="btn red" style="margin-left: 20px;" (click)="reset()">Reset</button>
</form>
